.header__logo {
    margin: 0 0 41px;
    width: 142px;
    height: 33px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__logo {
        margin: 0 0 28px 27px;
        width: 103.74px;
        height: 24.4px;
    }
}