.elements__button {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like.svg");
    border: none;
    background-color: white;
    margin: 30px 20px 30px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.elements__button:hover {
    opacity: 0.5;
}

.elements__button:active {
    background-color: black;
}