.elements__card-name {
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    /* padding: 25px 15px 31px 21px; */
    color: black;
}